@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#size{
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: red;
	font-size: 24px;
	z-index: 10000000;
}

*{
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	margin: auto;
}
h3{
	color:#254F6F;
}

html,body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background:  ;
	overflow-x: hidden;
}

.container{
	max-width: 1200px;
	margin: auto;
}

.wrapper{
	width: 100%;
}

.top-nav,
.top-section{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.top-nav a{
	display: flex;
	align-items: center;
}

.top-nav span{
	color: #fff;
	margin-right: 4px;
}

.top-section{
	width: 100%;
	height: 30px; 
	background: url(assets/img/top-section-background.png);
}

.top-nav{
	padding-left: 25%;

}


.top-nav li:not(:last-child){
   margin-right: 30px;
}

.top-nav a,
.panel a{
	color: #fff;
	text-decoration: underline;
	font-size: 13px;
	vertical-align: middle;

}

.top-nav a{
	text-decoration: none;
}

.panel a{
	margin-left: 30px;
}

.middle-section{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.middle-section_bell{
	display: flex;
	flex-direction: column;
}

.middle-section_bell p{
	margin: 0;
}
.middle-section_bell a{
	color: #000073;
	 border-bottom: 1px dashed
}
.num{
	font-size: 24px
}

.phone{
	font-size: 13px;
	text-align: right;

}

.middle-navigation a:not(:last-child){
    margin-right: 30px;
}

.middle-navigation a{
	color: black;
	font-size: 16px;
}

.slider{
	position: relative;
	max-width: 100%;
}

.slider img{
	display: block;
	max-width: 100%;
}

.slider .fas{
	font-size: 50px
}

.button-left,.button-right{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	color: #fff;
	background-image: url
}

.button-left{
	left: 0;

}

.button-right{
	right: 0;
}

.card-container{
	min-height: 700px; /* ÃÂ¿ÃÂ¾Ã‘â€šÃÂ¾ÃÂ¼ Ã‘Æ’ÃÂ±Ã‘â‚¬ÃÂ°Ã‘â€šÃ‘Å’ */
	background: url(assets/img/card-section-background.png);
	background-size: cover; 
}

.flex-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.date-wrapper{
	background: #387198;
}

.date-container{
	height: 115px;
}

.date-container input{
	display: flex;
	align-items: center;
	padding-left: 7px;
}

.in-wrapper{
	position: relative;
}

.in-wrapper span{
	position: absolute;
	top: 4px;
	left: 7px;
	font-size: 10px;
}

.in-wrapper {
	display: inline-block;
	text-align: center;
	padding-right: 30px;
	width: 180px;
}

.new{
	margin-right: 8px;
}

.date-container *{
	margin-left: 8px;
}

.date-container  input{
	display: block;
	width: 180px;
	height: 48px;
}

.in-wrapper .fas{
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: #b89e5f;
}

.btn{
	display: inline-block;
	background: #b89e5f;
	border: none;
	outline: none;
	width: 143px;
	height: 39px;
	border-radius: 30px;
	margin-left: 37px;
}

.offer{
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.description{
	background: url(assets/img/description.png);
	background-size: cover;
	height: 645px;
	padding-top: 100px;
}
.voucher1{
	display: inline-block;
	border: 14px solid #B89E5F;
	color: #fff;
	text-decoration: none;
	background: #B89E5F;
	border-radius: 15px;
	margin-right: 20px;
}
.voucher2{
	border: 14px solid #387198;
	background: #387198;
	border-radius: 15px;
	width: 250px;
	height: 18px;
	text-align: center;
	color:#fff;
}

.voucher2 span,
.voucher2 img{
	vertical-align: middle;
}
.voucher-img {
	position: relative;
	top: 5px;
	left: 35px;
	padding-left: 10px;

}

.description h3{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 85px;
}

.item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}

.item-wrapper .item{
   width: 100%;
}
@media(max-width: 980px){
 .description{
 	background-size: 100% 100%;
 	height: 545px;
 	padding-left: 70px;
 }
 .description .item p{
 	font-size: 15px;
 	padding: 0;
 }
 .description h3{
 	padding-bottom: 0; 
 	margin-bottom: 20px;
 }
}
.free-rooms{
	padding-top: 150px;
	padding-bottom: 57px;
	background: url(assets/img/rooms.png);
	background-size: cover;
}

@media(max-width:980px){
   padding-top:75px ;
   padding-bottom:25px ;
}

.free-rooms .container{
	display: flex;
	justify-content: space-between;
}

.free-rooms-item{
	width: 373px;
	height: 490px;
	position: relative;
	color: #fff;
}
.text{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
	color: #fff;
	font-family: Roboto-Regular,sans-serif;
	text-transform: uppercase;
}

.free-rooms-item img{
   display: block;
   width: 373px;
   height: 251px;

}

.free-rooms-item p{
	width: 90%;
	margin: 30px auto;
} 

.btn-offer{
	font-size: 12px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25%;
}

.oldman{
	background: url(assets/img/oldman.png);
	background-size: 100% 100%;
}

.oldman li{
	list-style: disc;
	 direction: rtl;
	 text-align: right;
	 list-style-position: outside;
	 margin: 20px;
}    

@media (max-width: 1300px){
	.oldman{
		background-size: 90% 120%;
		background-repeat: no-repeat;
	}
}

@media (max-width: 896px){
	.oldman{
		background-size: 120% 100%;
		background-repeat: no-repeat;
		font-size: 14px;
	}
}

@media (max-width: 666px){
	.oldman{
		background-size: 120% 100%;
		background-repeat: no-repeat;
		font-size: 13px;
	}
}


.lightbox-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1600px;
	overflow: hidden;
	background:;
}

.lightbox-container a{
	width: 20%;
}

.lightbox-container img{
	width: 100%;
	display: flex;
}

@media(max-width: 1300px){
  .example-image-link{
     width: 20%;
     margin: 0;
     padding: 0;
  }
}

/*********/

.applied{
	padding-top: 100px;
	padding-bottom: 65px;
	align-items: flex-start;

}
.applied .item{
	padding: 65px 0;
}

.applied .item ul,
.applied .item h3,
.applied .item li{
	margin: 0;
	padding: 0;
	line-height: 1;
}

.applied .item h3{
	font-size: 35px;
	margin-bottom: 65px;
}

.applied .item ul li{
	line-height: 30px;
	font-size: 17px;
}

.applied .item:nth-of-type(1){
	text-align: right;
	padding-right: 20px
}

.applied .item:nth-of-type(2){
	padding-left: 30px;
	background: url(assets/img/seek.png);
	background-size: cover;
}

.descr{
	font-size: 14px;
}

.applied .item:nth-of-type(2) h3,
.applied .item:nth-of-type(2) li{
	color: #fff;
}

.applied .item:nth-of-type(2) li{
	list-style-type: disc;
	list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='7px' height='7px'%3E%3Cpath fill-rule='evenodd' fill='%23b89e5f' d='M3.500,-0.000 C5.433,-0.000 7.000,1.567 7.000,3.500 C7.000,5.433 5.433,7.000 3.500,7.000 C1.567,7.000 -0.000,5.433 -0.000,3.500 C-0.000,1.567 1.567,-0.000 3.500,-0.000 Z'/%3E%3C/svg%3E");

}
	
.footer{
	background-image: url(assets/img/footer.png);
	background-size: cover;
	height: 170px;
}

.footer a{
	color: #fff;
}

.footer .container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-item a{
	padding-left: 10px;
}


.my-link{
	display: block;
	color: #fff;
}

.social{
  text-align: center;
}

.social span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center; 
}

.vkon{
	background: #6a96c7;
	color: #fff;
}

.face{
	background: #496194;
	color: #fff;
}

.inst{
	background: #d03855;
	color: #fff;
}
.wrapper-maps iframe{
   width: 100vw;
}
.fa-calendar-alt{
	font-size: 20px;
}

@media(min-width: 1200px){
	.my-trigger{
		display: none;
	}
}
@media (max-width: 1024px) {
	.num{
		padding-right: 20px;
	}
	.phone{
		padding-right: 20px;
	}
	.offer{
		font-size: 10px;
	}
	.btn{
		margin-left: 11px;
	}
	.item-wrapper{
		margin-left: 200px;
		text-align: center;
		
	}
	.description h3{
		margin-bottom: 30px;
	}
	.free-rooms-item{
		font-size: 12px;
	}
	.free-rooms-item img{
		width: 100%;
	}
	.text{
		font-size: 30px;
	}
	.item-li{
		font-size: 11px;
		margin-top: 150px;

	}
	.btn-offer{
		margin-left: 200px;
	}
	.descr{
	font-size: 12px;
	}
}
@media (max-width: 1200px) {
	.num{
		padding-right: 20px;
	}
	.phone{
		padding-right: 20px;
	}
	.item-wrapper{
		margin-left: 200px;
	}
	.item-li{
		font-size: 12px;
		margin-top: 150px;
	}
	.btn1{
		margin-left: 300px;
	}
	
}




